name: Release Server Files

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Archive server files
        run: zip -r server-files.zip gamemode entities rust.txt

      - name: Determine Tag
        id: tag_logic
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "TAG_NAME=manual-build" >> $GITHUB_ENV
            echo "PRERELEASE=true" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
            echo "PRERELEASE=false" >> $GITHUB_ENV
          fi

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          files: server-files.zip
          tag_name: ${{ env.TAG_NAME }}
          name: Release ${{ env.TAG_NAME }}
          prerelease: ${{ env.PRERELEASE }}
          draft: false
          make_latest: ${{ github.event_name != 'workflow_dispatch' }}
